body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}
.title{
  text-align: center;
  font-size: 1000;
  color: #39ff14; 
  text-shadow: 0 0 10px #39ff14,
               0 0 20px #39ff14,
               0 0 30px #39ff14,
               0 0 40px #39ff14,
               0 0 70px #39ff14,
               0 0 80px #39ff14,
               0 0 100px #39ff14,
}
.form {
  text-align: center
}